.itemContainer{
    color: white;
    article{
        border: 3px solid white;
        min-height: 75vh;
        display: grid;
        grid-template-columns: 60% 40%;
        figure{
            height: 90%;

            img{
                height: 100%;
                width: 100%;
            }
        }
    }
}